<div class="container">
  <h1>ログイン</h1>
  
  <% if flash[:danger] %>
    <div class="alert alert-danger">
      <p><%= flash[:danger] %></p>
    </div>
  <% end %>
  
  <div class="bgclear">
    <div style="padding:15px">
      <%= form_with scope: :session, url: login_path do |f| %>
        <div class="form-group">
          <%= f.label :email, 'メールアドレス' %>
          <%= f.text_field :email, class: 'form-control' %>
        </div>
        <div class="form-group">
          <%= f.label :password, 'パスワード' %>
          <%= f.password_field :password, class: 'form-control' %>
        </div>
        <%= f.submit 'ログイン', class: 'btn btn-primary' %>
      <% end %>
      
      <%= form_with scope: :session, url: login_path do |f| %>
        <%= f.hidden_field :email, value:'hayashideveloper@gmail.com' %>
        <%= f.hidden_field :password, value:'12345678' %>
        <%= f.submit 'テストユーザーでログイン', class: 'btn btn-success', style:'margin-top:5px' %>
      <% end %>
      
      <%= link_to 'アカウント作成はこちら', new_user_path %>
    </div>
  </div>
</div>