<% if users.nil? == false && users.length >= 1 %>
  <div class="user-list">
    <% users.each do |user| %>
      <div class="relative">
        <%= link_to "/#{user.unique_id.to_s}" do %>
          <div class="user-card">
            <div class="icon-post-field">
              <% if user.image? %>
                <%= image_tag user.image.to_s, class:'icon-user-inner' %>
              <% else %>
                <%= image_tag 'unknown.png', class:'icon-user-inner' %>
              <% end %>
            </div>
            <div class="user-detail">
              <p class="user-name"><%= user.name %></p>
              <p class="gray">
                @<%= user.unique_id %>
                <% if follower?(user) %> <span class="follow-status">フォローされています</span><% end %>
                <% if each_follow?(user) %><i class="fas fa-link"></i><% end %>
              </p>
              <p><%= user.introduction %></p>
            </div>
          </div>
        <% end %>
        <div class="index-follow-button absolute">
          <%= render partial: 'relationships/follow_button', locals: { user: user } %>
        </div>
      </div>
    <% end %>
  </div>
<% else %>
  ユーザーが見つかりません。
<% end %>