<div class="container" style="margin-bottom:60px">
  <h1>プロフィール
    <span style="float:right"><%= link_to '変更', edit_user_path(@user.id), class: 'btn btn-primary' %></span>
  </h1>

  <%= form_with url: mypage_path, method: :get do |f| %>
    <div class="icon-field">
      <% if @user.image? %>
        <%= image_tag @user.image.to_s, class:'icon-user-inner' %>
      <% else %>
        <%= image_tag 'unknown.png', class:'icon-user-inner' %>
      <% end %>
    </div>
    <div>
      <p id="account-name"><%= @user.name %></p>
      <p class='uniqueid'><%= @user.unique_id %></p>
      <p><%= @user.sex %>　<%= calcAge(@user.birthday.to_s) %>歳</p>
      <div class="form-group">
        <%= f.label :introduction, '自己紹介' %>
        <%= f.text_field :introduction, class: "form-control", readonly: true, value: @user.introduction %>
      </div>
      <div class="form-group">
        <%= f.label :favorite1, '愛用サプリ' %>
        <%= f.text_field :favorite1, class:"form-control", readonly: true, value: @user.favorite1 %>
        <%= f.text_field :favorite2, class:"form-control", readonly: true, value: @user.favorite2 %>
        <%= f.text_field :favorite3, class:"form-control", readonly: true, value: @user.favorite3 %>
      </div>
    </div>

  <% end %>
</div>