<% if flash[:error_messages]  %>
  <div class="alert alert-danger">
    <ul>
      <% flash[:error_messages].each do |msg|  %>
        <li><%= msg %></li>
      <% end %>
    <ul>
  </div>
<% end %>

<%= form_with model: post do |f| %>
  <div>
    <%= link_to 'キャンセル', :back %>
    <%= f.submit '投稿する', class: 'btn-tweet' %>
  </div>
  
  <%= f.hidden_field :user_id, id: 'post-user' , value: @current_user.id %>
  <div class="form-group">
    <%= f.text_area :body, rows: 10, class: 'form-control' %>
  </div>

  <div class="form-group">
    <span>タグ</span>
    <%= f.collection_check_boxes(:tag_ids, Tag.all, :id, :name) do |tag| %>
      <div class="form-check">
        <%= tag.label class: 'form-check-label' do %>
          <%= tag.check_box class: 'form-check-input' %>
          <%= tag.text %>
        <% end %>
      </div>
    <% end %>
  </div>
  <span></span>
  <%= f.hidden_field :evaluation, id:"evaluation_value", class: 'form-control' %>
<% end %>
<div>
  おすすめ度：
  <%= button_tag "", id:"evaluation_1", class:"far fa-star", onclick:"ChangeEvaluation(1)" %>
  <%= button_tag "", id:"evaluation_2", class:"far fa-star", onclick:"ChangeEvaluation(2)" %>
  <%= button_tag "", id:"evaluation_3", class:"far fa-star", onclick:"ChangeEvaluation(3)" %>
  <%= button_tag "", id:"evaluation_4", class:"far fa-star", onclick:"ChangeEvaluation(4)" %>
  <%= button_tag "", id:"evaluation_5", class:"far fa-star", onclick:"ChangeEvaluation(5)" %>
</div>

<script>
  function ChangeEvaluation(num) {
    $("#evaluation_value").val(num);
    for (var i=1; i<=5; i++) {
      $("#evaluation_" + i).removeClass("fas fa-star");
      $("#evaluation_" + i).addClass("far fa-star");
    }

    for (var i=1; i<=num; i++) {
      $("#evaluation_" + i).removeClass("far fa-star");
      $("#evaluation_" + i).addClass("fas fa-star");
    }
  }
</script>