<% if flash[:error_messages]  %>
  <div class="alert alert-danger">
    <ul>
      <% flash[:error_messages].each do |msg|  %>
        <li><%= msg %></li>
      <% end %>
    <ul>
  </div>
<% end %>

<%= form_with model: post do |f| %>
    <div>
        <%= link_to 'キャンセル', :back %>
        <%= f.submit '投稿する', class: 'btn-tweet' %>
    </div>
  
    <%= f.hidden_field :user_id, value: @current_user.id %>
    <div class="form-group">
        <%= f.text_area :body, rows: 10, class: 'form-control' %>
    </div>
<% end %>