<div class="card">
  <div class="card-header">
    <%= link_to "../" do %>
      <div class="icon-post-field">
          <% if post.user.image? %>
              <%= image_tag post.user.image.to_s, class:'icon-user-inner' %>
          <% else %>
              <%= image_tag 'unknown.png', class:'icon-user-inner' %>
          <% end %>
      </div>
      <div style="float:left;">
        <p class="user-name"><%= post.user.name %></p> 
        <p class="gray">@<%= post.user.unique_id %></p>
      </div>
      <% if current_user?(post.user) %>
        <%= link_to '削除', post, class:"post-delete", method: :delete, data: { confirm: '削除してもよろしいですか？' } %>
      <% end %>
    <% end %>
  </div>
  <div class="card-body", style="margin-top:-1.2rem">
    <% post.tags.each do |tag| %>
      <span class="badge badge-primary"><%= tag.name %></span>
    <% end %>
    <p class="card-text"><%= simple_format(post.body) %></p>
    <% if post.evaluation.nil? == false %>
      おすすめ度：
      <i id="evaluation_1", class="far fa-star"></i>
      <i id="evaluation_2", class="far fa-star"></i>
      <i id="evaluation_3", class="far fa-star"></i>
      <i id="evaluation_4", class="far fa-star"></i>
      <i id="evaluation_5", class="far fa-star"></i>
    <% end %>
  </div>
  <% if post.image? %>
    <%= image_tag post.image.to_s %>
  <% end %>



  <div class="post-show-date">
    <%= GetDateFormat(post.created_at) %>
  </div>
  <% if post.likes.find_by(user_id: current_user.id).nil? %>
    <%= button_to likes_path(post_id: post.id), remote: true do %>
      <i class="far fa-heart"></i> <%= post.likes.count %>
    <% end %>
  <% else %>
    <%= button_to like_path(post_id: post.id), remote: true, method: :delete do %>
      <i class="fas fa-heart" style="color:pink"></i> <%= post.likes.count %>
    <% end %>
  <% end %>
</div>

<script>
  for (var i=1; i<=<%= post.evaluation %>; i++) {
    $("#evaluation_" + i).removeClass("far fa-star");
    $("#evaluation_" + i).addClass("fas fa-star");
  }
</script>