<div class="card">
  <div class="card-header">
    <div>
      <%= post.user.name %> <span style="color:grey"><%= post.user.unique_id %></span>
      <span style="float:right">
        <%= link_to '削除', post, style:"margin-left:5px; color:red", method: :delete, data: { confirm: '削除してもよろしいですか？' } %>
      </span>
    </div>
    <% post.tags.each do |tag| %>
      <span class="badge badge-primary"><%= tag.name %></span>
    <% end %>
  </div>
  <div class="card-body">
    <p class="card-text"><%= simple_format(post.body) %></p>
  </div>
  <div class="post-show-date" style="padding:0 0 10px 10px">
    <%= GetDateFormat(post.created_at) %>
  </div>
  <div>
    <% if post.likes.find_by(user_id: @current_user.id).nil? %>
      <%= button_to likes_path(post_id: post.id) do %>
        <i class="far fa-star"></i> <%= post.likes.count %>
      <% end %>
    <% else %>
      <%= button_to like_path(post_id: post.id), method: :delete do %>
        <i class="fas fa-star" style="color:yellow"></i> <%= post.likes.count %>
      <% end %>
    <% end %>
  </div>
</div>