<% if posts.length >= 1 %>
  <% posts.each do |post| %>
    <div class="card", style="padding-top:0.3rem">
      <div class="user-field">
        <%= link_to "./#{post.user.unique_id.to_s}" do %>
          <div class="icon-post-field">
            <% if post.user.image? %>
              <%= image_tag post.user.image.to_s, class:'icon-user-inner' %>
            <% else %>
              <%= image_tag 'unknown.png', class:'icon-user-inner' %>
            <% end %>
          </div>
          <div style="float:left;">
            <p class="user-name"><%= post.user.name %></p> 
            <p class="gray">@<%= post.user.unique_id %></p>
          </div>
        <% end %>
      </div>
      <%= link_to "/#{post.user.unique_id.to_s}/status/#{post.id}" do %>
        <div style="margin-top:-10px;">
          <% post.tags.each do |tag| %>
            <p class="badge badge-primary"><%= tag.name %></p>
          <% end %>
          <p><%= post.body %></p>
          <% if post.evaluation.nil? == false %>
            おすすめ度：
            <% post.evaluation.to_i.times do |i| %>
              <i class="fas fa-star"></i>
            <% end %>
            <% (5 - post.evaluation.to_i).times do |j| %>
              <i class="far fa-star"></i>
            <% end %>
          <% end %>
        </div>
        <%# TODO: 比率は維持したまま、表示サイズの上限を設ける %>
        <% if post.image? %>
          <div class="post-image">
            <%= image_tag post.image.to_s %>
          </div>
        <% end %>

        <div class="post-index-comment" style="margin-top:10px;">
          <% if post.likes.find_by(user_id: current_user.id).nil? %>
            <i class="far fa-heart"></i> <%= post.likes.count %>
          <% else %>
            <i class="fas fa-heart" style="color:pink"></i> <%= post.likes.count %>
          <% end %> 
          　<i class="far fa-comment"></i> <%= post.comments.count %>
        </div>
        <p class="post-date"><%= GetDateFormat(post.created_at) %></p>
      <% end %>
    </div>
  <% end %>
  <%= paginate posts %>
<% else %>
  <p style="padding: 0 15px;">投稿がありません。</p>
<% end %>