<!DOCTYPE html>
<html>
  <head>
    <title>MySupplement</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'https://fonts.googleapis.com/css?family=Kaushan+Script', media: 'all' %>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'header' %>
    <div class="bg-whitesmoke">
      <%= render 'layouts/flash' %>
      <%= yield %>
    </div>
    <% if user_signed_in? %>
      <div class="footer-visible">
        <%= render 'footer' %>  
      </div>
    <% end %>
  </body>
</html>
